body, header, section, footer, h1, p {
  line-height: 120%; }

footer, section {
  padding: 10px; }

header {
  width: 100%;
  background: #000; }
  header h1 {
    padding: 10px;
    color: #fff; }

nav {
  letter-spacing: -.40em;
  background: #eee; }
  nav li {
    display: inline-block;
    width: 25%;
    letter-spacing: normal; }
    nav li a {
      color: #000;
      text-decoration: none;
      margin: 0;
      padding: 10px;
      text-align: center;
      display: block; }

blockquote {
  background: #eee;
  padding: 6px;
  border: 1px solid #333;
  margin-bottom: 20px; }

section {
  padding-top: 100px; }
  section h1 {
    font-size: 26px;
    margin-bottom: 20px; }
  section p {
    margin-bottom: 20px; }

footer {
  background: #333;
  color: #fff; }
